        #head {
          text-align: center;
          font-size: 30px;
        }
        #intro {

        }
        .container{
            width: 1000px;
            height: 1000px;
            margin: auto;       /*margin是調整與視窗邊界的距離(置中)*/
        }
        .left{                  /* 左邊選擇區 */
            margin: auto;       
            text-align: center;
            width:300px;
            float: left; 
        }
        .preview {              /* 右方預覽區 */
          margin: auto;   
          text-align: center;
          width: 300px;
          float: left;       
        }
        .editor{                /* 中間編輯器 */
            margin: auto;
            text-align: center;
            width: 300px;
            float: left;
        }

        .rules {                /* 中間編輯區內條目 */
            margin: auto;
            width: 250px;
            height: 80px;
            background-color: lightyellow;
            border-radius: 5px;
            border: solid;
            border-width: 2px;
        }
        .blocks {               /* 方塊 */
          text-align: center;
          background-color: lightgreen;
          width: 200px;
          border-radius: 5px;
          border: solid;
          border-width: 2px;
          text-align: center;
        }
        button{
          background-color: lightblue;
          border-radius: 5px;
          height: 40px;
        }